html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

/* header */

.page-header {
    padding: 40px 0 122px;
}

.site-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 490px;
    justify-content: space-between;
}

.site-navigation-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #95e1d3;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
    content: "";
    color: #f38181;
    padding-bottom: 12px;
    border-bottom: 4px solid #f38181;
    font-size: 14px;
}

.logo {
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    color: #95e1d3;
    display: block;
}

/* section-services */

.services {
    margin-bottom: 104px;
}

.section-title-prefix {
    display: block;
    font-family: "Kaushan Script";
    text-transform: none;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}

.section-title {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    margin-bottom: 64px;
}

.section-title::after {
    content: "";
    display: block;
    background-color: #f38181;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    margin-top: 42px;
}

.services-list {
    list-style: none;
}

.services-list-item-title {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 18px;
    color: #333333;
}

.services-list-item p {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-list-item {
    width: 380px;
    margin-bottom: 104px;
    padding-left: 80px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 20px 2px;
}

.services-list-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.photography {
    background-image: url(../img/icons/photography.png);
}

.web-design {
    background-image: url(../img/icons/web_design.png);
}

.creativity {
    background-image: url(../img/icons/creativity.png);
}

.seo {
    background-image: url(../img/icons/seo.png);
}

.css-html {
    background-image: url(../img/icons/css-html.png);
}

.digital {
    background-image: url(../img/icons/digital.png);
}

/* section-team */

.team {
    margin-bottom: 86px;
}

.team-desc {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    margin-bottom: 94px;
    margin-top: 46px;
}

.team-section {
    margin-bottom: 46px;
}

.team-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.team-list-item-overlay {
    position: relative;
}

.overlay-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top,
            rgba(252, 227, 138, 0.9),
            rgba(243, 129, 129, 0.9));
    visibility: hidden;
    opacity: 0;
    transition: transform 200ms linear,
        box-shadow 200ms linear,
        visibility 200ms linear;
}

.overlay-social {
    list-style: none;
    width: 226px;
    display: flex;
    justify-content: space-between;
}

.overlay-list-item-link {
    display: block;
    text-decoration: none;
    background-repeat: no-repeat;
    width: 55px;
    height: 56px;
    text-align: center;
    background-color: rgb(252, 227, 138);
    background-position: center;
    transition: background-color 200ms linear;
}

.overlay-list-item-link:hover {
    background-color: #95e1d3;
}

.team-list-item:hover .overlay-wrapper {
    visibility: visible;
    box-shadow: 10px 10px 0 0 #95e1d3;
    transform: translate(-10px, -10px);
    opacity: 1;
}

.icon-facebook {
    background-image: url(../img/social-icons/facebook.png);
}

.icon-instagram {
    background-image: url(../img/social-icons/instagram.png);
}

.icon-pinterest {
    background-image: url(../img/social-icons/pinterest.png);
}

.icon-twitter {
    background-image: url(../img/social-icons/twitter.png);
}

.team-list-item-name {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}

.team-list-item-position {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    color: #999999;
    font-style: italic;
}

/* footer */

.page-footer {
    padding: 10px 0 12px;
}

.copyright-link {
    text-decoration: none;
    cursor: pointer;
    color: #f38181;
}

.page-footer {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-email {
    margin: 0;
    width: 380px;
    display: flex;
    align-items: center;
}

.contact-email-placeholder::placeholder {
    color: #cccccc;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
}

.contact-email-placeholder {
    padding: 13px 10px;
    margin: 0;
    width: 230px;
    border: 1px solid #e7e7e7;
    border-right: none;
}

.btn-subscribe {
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #95e1d3;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    padding: 15px 32px;
    cursor: pointer;
}