/* ИЗМЕНЕНИЕ МОДЕЛИ РАССЧЕТА */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* прячем заголовок */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Playfair Display", "Arial", sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 900px;
    margin: 0 auto;
    font-size: 0;
}

/* HEADER NAVIGATION */
.site-menu {
    padding-top: 77px;
    padding-bottom: 104px;
}


.site-navigation {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
}

.links {
    text-align: center;
}

.site-navigation a {
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
    font-size: 14px;
    display: block;
    font-family: Playfair Display;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color:#03a9f4;
}

.site-navigation li {
    display: inline-block;
    /* font-size: 14px; */
}

.site-navigation li:not(:last-child) {
    margin-right: 90px;
    /* указан средний маржин между элементами, так как в макете маржины разные */
}

/* ARTICLES */
.articles {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.article-item {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 36px;
    line-height: 16px;
    /* line-height: смотрим в фоторошопе значение AUTO. соответсвенно: 14 умножаем на 1,2, округляем, получаем 17; */
}

.article-title {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    /* line-height: 30 множим на 1,2; */
    margin-bottom: 32px;
    /* margin-bottom = (30*1,2) - 30 =6.
    6/2 = 3 
    (14*1,2) - 14 = 3.
    3/2 = 1.5
    margin bottom = 36 - 4.5 = 31 */
}

.article-section {
    width: 420px;
    display: inline-block;
    font-size: 0px;
    margin: 0;
    margin-bottom: 136px;
    padding: 0;
    margin-right: 60px;
}

.article-section:nth-last-child(-n + 2) {
        margin-bottom: 58px;
}
.article-section:nth-child(2n) {
    margin-right: 0;
}

.article-content {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.load-more-button {
    border-color: #626262;
    display: inline-block;
    padding: 20px 10px;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    background: none;
    width: 164px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    margin-right: 380px;
    margin-left: 360px;
    margin-bottom: 70px;
}

.load-more-button:hover,
.load-more-button:focus {
    /* color: black; */
    color:  rgba(0, 0, 0, 1)
}

/* * {
    outline: 1px solid red;
} */
