
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-slab-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-slab-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: sans-serif;
}

.container {
    width: 58.75rem;
    margin: 0 auto;
    padding: 0;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

* {
    /* outline: 1px solid red; */
}

/* header */

.page-header {
    padding: 50px 0 128px;
}

.site-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 22.75rem;
}

.site-navigation-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #222222;
}

.site-navigation-item {
    display: inline;
}

.site-navigation-item:not(:last-of-type) {
    margin-right: 2.4rem;
}

.site-navigation-link:hover {
    color: #fed136;
}

/* section-services------------------------------------------------------ */

.section-services {
    padding-bottom: 6.375rem;
}

.section-title {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: 2.5rem;
    color: #222222;
    text-align: center;
    margin-bottom: 1.375rem;
}

.section-disc {
    color: #777777;
    text-align: center;
    font-family: "Roboto Slab";
    font-style: italic;
    margin-bottom: 80px;
}

.services-list-item-title {
    font-family: "Montserrat";
    font-style: 1.125rem;
    font-size: 18px;
    font-weight: 700px;
    color: #222222;
    letter-spacing: -0.0281rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.services-list-item-desc {
    font-family: "Roboto Slab";
    font-size: 14px;
    letter-spacing: -0.01rem;
    color: #777777;
    line-height: 1.125rem;
    padding-bottom: 16px;
}

.services-list-item {
    width: 17.625rem;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 20px 2px;
}

.services-list {
    display: flex;
    justify-content: space-between;
}

.services-list-item::before {
    display: block;
    content: "";
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 3px solid #fed23a;
    margin: 0 auto;
    margin-bottom: 28px;
    background-repeat: no-repeat;
    background-position: center;
}

.commerce::before {
    background-image: url(../img/icons/Icon-Basket.png);
}

.responsive::before {
    background-image: url(../img/icons/Icon-Laptop.png);
}

.security::before {
    background-image: url(../img/icons/Icon-Locked.png);
}

/* form----------------------------------------------- */

.section-form {
    padding-top: 110px;
    padding-bottom: 116px;
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../img/back-graund/background_map.png);
}

.section-form-title {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 40px;
    text-align: center;
    margin-bottom: 1.375rem;
}

.contact-form {
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form_inputs {
    width: 456px;
    margin-right: 28px;
}

.contact-form-input {
    width: 456px;
    height: 52px;
    margin-bottom: 28px;
    border: none;
    border-radius: 2px;
    padding: 20px;
}

.contact-form-input::placeholder,
.contact-textarea::placeholder {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
}

.contact-form-input::after {
    content: "*";
    color: #ff0000;
}

.contact-textarea {
    width: 456px;
    border: none;
    border-radius: 2px;
    height: 212px;
    padding: 20px;
    resize: none;
}

.contact-btn {
    width: 240px;
    height: 70px;
    padding: ;
    text-transform: uppercase;
    background-color: #fed136;
    color: #ffffff;
    border-radius: 2px;
    font-family: "Montserrat";
    font-weight: 700;
    border: none;
}

.contact-form-input:focus:valid {
    outline-color: #008000;
}

.contact-form-input[required]:focus:invalid {
    outline-color: #ff0000;
}

.contact-textarea[required]:focus:invalid {
    outline-color: #ff0000;
}

.contact-textarea:focus:valid {
    outline-color: #008000;
}