@media (min-width: 767px) {
    .container {
        width: 660px;
    }

    .main-background {
        background-image: url(../img/backgrounds/backgraund_tablet.jpg);
    }

    .page-header {
        padding-top: 38px;
    }

    .logo-link-box {
        display: block;
        margin-top: 10px;
    }

    .logo-link-small-device-box {
        display: none;
    }

    .header-links {
        display: flex;
        justify-content: space-between;
    }

    .bts {
        margin: 0;
    }

    .section-holiday {
        padding-top: 128px;
        /* padding-bottom: 232px; */
    }

    .section-holiday-title {
        width: 504px;
        font-size: 52px;
        margin-bottom: 54px;
    }

    .section-holiday-desc {
        width: 406px;
        font-size: 24px;
        margin-bottom: 32px;
    }

    .partners-list-title {
        margin-bottom: 32px;
    }

    .partners-list {
        margin: 0 auto;
        display: flex;
        width: 520px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 36px;
    }

    .partners-list-item {
        margin-bottom: 54px;
    }

    .partners-list-item:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }

    .partner_2 {
        order: 1;
    }

    .partner_4 {
        order: 2;
    }



}

@media (min-width: 939px) {
    .container {
        width: 942px;
    }

    .main-background {
        background-image: url(../img/backgrounds/background_desktop.jpg);
    }

    
    }