/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    margin: -0.0625rem;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: sans-serif;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

* {
    /* outline: 0.0625rem solid red; */
}

/* header */

.main-background {
    background-image: url(../img/backgrounds/background_phone.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-header {
    padding-top: 20px;
    padding-bottom: 18px;
}

.logo-link-box {
    display: none;
}

.bts {
    text-align: center;
    margin-bottom: 116px;
}

.buttons {
    background-color: inherit;
    width: 90px;
    padding: 10px 15px;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    cursor: pointer;
}

.buttons:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.logo-link-small-device-box {
    text-align: center;
}

.logo-link-small-device,
.logo-link {
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

/* holiday */

.section-holiday {
    padding-top: 18px;
    padding-bottom: 138px;
}

.section-holiday-title {
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    width: 292px;
    margin-bottom: 16px;
}

.section-holiday-desc {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    width: 220px;
    margin-bottom: 16px;
}

.holiday-link-box {
    width: 280px;
    height: 40px;
    background-color: #ff4e50;
    border-radius: 20px;
    padding: 10px 44px;
    margin: 0 auto;
}

.holiday-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    cursor: pointer;
}

.holiday-link-box:hover .holiday-link {
    color: #ff4e50;
}

.holiday-link-box:hover {
    background-color: #ffffff;
    border: 2px solid #ff4e50;
}

/* partners */

.section-partners {
    padding-top: 70px;
}

.partners-list {
    margin-bottom: 28px;
}

.partners-list-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 22px;
    color: #333333;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 14px;
}

.partners-item-img {
    width: 122px;
    height: 122px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

.partners-name {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 16px;
}

.partners-about {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
}

.partners-list-item {
    width: 214px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 28px;
}

.partners-list-item:last-child {
    margin-bottom: 0;
}
  
.partners-item-img::after {
    content: "";
    display: block;
    width: 37px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.tv-1::after{
    background-image: url(../img/icons/tv-1.png);
    background-color: #ff4e50;
}

.bottle-2::after {
    background-image: url(../img/icons/bottle-2.png);
    background-color: #ffa507;
}

.cup-3::after {
    background-image: url(../img/icons/cup-3.png);
    background-color: #1cd7ad;
}

.teleg-4::after {
    background-image: url(../img/icons/teleg-4.png);
    background-color: rgb(78, 115, 219);
}


.section-partners-box {
    text-align: center;
}
