.main-background {
    background-image: url(../images/background/background.jpg);
    background-size: cover;
    height: 100vh;
}

.container,
.page-header{
    padding: 40px 0 122px;
    justify-content: space-between;
    display: flex;
}

.logo-link {
    display: inline;
}

.logo {
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    color: #95e1d3;
    display: block;
}

.site-nav {
    display: flex;
}

.helper-nav {
    display: flex;
}

.site-menu {
    display: flex;
}

.site-nav-item:not(:last-child) {
    margin-right: 54px;
}

.site-nav-link {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #95e1d3;
}

.site-nav-link:hover,
.site-nav-link:focus {
    content: "";
    color: #f38181;
    padding-bottom: 12px;
    border-bottom: 4px solid #f38181;
    font-size: 14px;
}

.logo {
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    color: #95e1d3;
    display: inline;
}

.helper-btn {
    background-color: inherit;
    border: none;
}

.helper-item:not(:last-child) {
    margin-right: 38px;
}

.helper--svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}