.team {
    margin-bottom: 86px;
}

.team-member-img {
    transition: 200ms linear;
}

.team-desc {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    margin: 46px auto 94px;
    width: 80%;
}

.team-section {
    margin-bottom: 46px;
}

.team-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.team-list-item-overlay {
    position: relative;
    transition: 200ms linear;
}

.overlay-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top,
            rgba(252, 227, 138, 0.9),
            rgba(243, 129, 129, 0.9));
    visibility: hidden;
    opacity: 0;
    transition: transform 200ms linear,
        box-shadow 200ms linear,
        visibility 200ms linear;
}

.overlay-social {
    list-style: none;
    width: 226px;
    display: flex;
    justify-content: space-between;
}

.overlay-list-item-link {
    display: block;
    text-decoration: none;
    background-repeat: no-repeat;
    width: 55px;
    height: 56px;
    text-align: center;
    background-color: rgb(252, 227, 138);
    background-position: center;
    transition: background-color 200ms linear;
}

.overlay-list-item-link:hover {
    background-color: #95e1d3;
}

.team-list-item:hover .overlay-wrapper {
    visibility: visible;
    box-shadow: 10px 10px 0 0 #95e1d3;
    transform: translate(-10px, -10px);
    opacity: 1;
}
.team-list-item:hover .team-member-img{
    transform: translate(-10px, -10px);
}

.icon-facebook {
    background-image: url(../img/social-icons/instagram.png);
}

.icon-instagram {
    background-image: url(../img/social-icons/instagram.png);
}

.icon-pinterest {
    background-image: url(../img/social-icons/pinterest.png);
}

.icon-twitter {
    background-image: url(../img/social-icons/twitter.png);
}

.team-list-item-name {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}

.team-list-item-position {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    color: #999999;
    font-style: italic;
}