.page-footer {
  padding: 10px 0 12px;
  font-family: $heading-font;
  font-size: 14px;
  font-weight: 400;
  color: $secondory-text-color;
  border-top: 1px solid #e5e5e5;

  &__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    color: $secondory-hover-color;
    display: inline;
  }

  &__contact-form {
    margin: 0;
    width: 380px;
    display: flex;
    align-items: center;
  }

  &__input::placeholder {
    color: #cccccc;
    font-family: $desc-font;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
  }

  &__input {
    padding: 13px 10px;
    margin: 0;
    width: 230px;
    border: 1px solid #e7e7e7;
    border-right: none;
  }

  &__btn-subscribe {
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #95e1d3;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    padding: 15px 32px;
    cursor: pointer;
  }
}
