html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    color: #515151;
    margin: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* HEADER */

.page-header {
    padding-top: 36px;
    padding-bottom: 164px;
    font-size: 0;
    margin: 0;
}

.site-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 14px;
    color: black;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

.site-navigation {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    text-align: center;
}

.site-navigation li {
    float: left;
}

.site-navigation li:not(:last-child) {
    margin-right: 34px;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 30px;
    color: #515151;
    padding: 0;
    margin: 0;
    float: left;
}

.logo::first-letter {
    color: #1abc9c;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}


.titles {
    font-family: Roboto;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 92px;
}

.titles::after {
    content: "";
    background-color: #1abc9c;
    width: 164px;
    height: 8px;
    text-align: center;
    display: block;
    margin: 34px auto 0;
}

/* shop-items */

.shop-items-list {
    list-style: none;
    float: right;
    font-size: 0;
}

.shop-items-list li {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.shop-items-list li:nth-last-child(-n + 4) {
    margin-bottom: 0px;
}

.shop-items-list li:nth-child(4n) {
    margin-right: 0px;
}

.item-price,
.item-title {
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Roboto";
    line-height: 32px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center; 
}

.item-title {
    float: left;
    margin: 0;
    width: 206px;
    height: 40px;
    padding-left: 14px;
    padding-top: 6px;
    background-color: #323232;
}

.item-price{
float: left;
margin: 0;
height: 40px;
width: 49px;
background-color: rgba(50, 50, 50, .5);
padding-top: 6px;
}

.shop-link {
    display: block;
}

.shop-link:hover .item-title,
.shop-link:hover .item-price {
    background-color: #1abc9c
}

.shop {
    margin-bottom: 98px;
}
/* articles */

.articles-list {
    float: right;
    margin: 0;
    list-style: none;
    padding: 0;
}

.articles-list li {
    float: left;
    margin-right: 30px;
    width: 350px;
    margin-bottom: 80px;
}

.article-title {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 17px;
}

.article-title::after {
    content: "";
    background-color: #1abc9c;
    width: 136px;
    height: 4px;
    display: block;
    margin: 12px 0 26px;
}

.article-content {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.articles-list li:nth-child(3n) {
    margin-right: 0px;
}

.article-item a {
    list-style: none;
    text-decoration: none;
    background-color: rgba(26, 188, 156);
    padding: 15px 44px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    font-family: "Open Sans";
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 20px;
    display: inline-block;
}